<div class="row">
<div class="col-md-12">

      <div class="card">
          <div class="cardtitle backwhite">
            <i class="material-icons" style="border-left:2px solid #1976d2;border-bottom:2px solid #1976d2; color:#1976d2; font-size:xx-large">show_chart</i>
            <span lang="en" style="font-size: 27px; padding-left:10px">Model for Analysis of Energy Demand</span>
          </div>
          <div class="cardbody">
              <h3 lang="en">Planning and Economic Studies Section</h3>
              <h4 lang="en">Division of Nuclear Power</h4>
              <h4 lang="en">Department of Nuclear Energy</h4>
              <h4 lang="en">International Atomic Energy Agency</h4>
          </div>
      </div>
  </div>
</div>
    
    
    
    
    
    
    
    
    
    
    
    