<h3>MAED Model for Analysis of Energy Demand  ver. 2.0.0 <small>20201120 release</small></h3>
<b>Bugfix</b>
    <li>NaN + number = number in calculation was fixed (tables 2.3, 2.4, 3.2, 3.4, 4, 6.1)

<h3>MAED Model for Analysis of Energy Demand  ver. 2.0.0 <small>20201109 release</small></h3>
<b>Features</b>
    <li>Installation file name (maed was changed to maed setup)</li>
<b>Bugfix</b>
    <li>NaN + number = number in calculation was fixed (tables 2.3.3, 4.1, 4.3, 5.1, 5.2, 5.3, 6.1)
    <li>Thermal Solar labels were changed to Solar Thermal</li>
    <li>Table 2.2.3. wrong graph was changed with right one</li>
    <li>Table 2.3.1. graph was changed to show Low, Medium and High Level</li>

<h3>MAED Model for Analysis of Energy Demand  ver. 2.0.0 <small>20200829 release</small></h3>
<b>Features</b>    
    <li>Export all results to excel file (MAEDD)</li>
    <li>Users and groups</li>
    <li>New organization of general data</li>
    <li>Charts on input tables</li>
    <li>New result tables</li>
    <li>Charts on result tables</li>
    <li>User notes and descriptions for input tables</li>
    <li>New design</li>
    <li>New organization of data in calendar definitions (MaedEL)</li>
    <li>New organization of data in end use energy categories (MaedD)</li>
<b>Bugfix</b>
    <li>Numbers formatted in exported excel tables</li>
    <li>4.1. Final Energy Demand in Household Sector - chart fixed</li>
    <li>Labels "Soft Solar Systems" and "Thermal Solar" to "Solar Thermal"</li>
    <li>3.4.4. Final energy demand in Transportation sector (shares by fuel groups) - wrong table changed with right one</li>
    <li>3.4.6. Final energy demand in Transportation sector (shares by subsector) - unit changed from GWh to %</li>
    <li>3.1.4. Energy intensities of freight transportation - row total removed</li>
    <li>2.2.3. Total final energy demand (shares) in Agriculture, Construction & Mining - values in rows total for each sector removed</li>
    <li>6.1. Final energy demand - problem with conversion between different unit fixed</li>
    <li>Gwh - New unit in results (Final Energy Demand by Energy Form, Capita & per GDP, By Sector)</li>
<b>Calculation</b>
    <li>Thermal use (Fossil Fuels, Soft Solar Systems) and space heating others (Low Rise Buildings, Thermal Solar Share) included (Table 5.2 Final Energy Demand in Service Sector)</li>
    <li>NaN (Not a number) converted to 0</li>