<li class="open">
    <a class="dropdown-toggle pointer">
        <i class="material-icons menu-icon">description</i>
        <span class="menu-text"> General information </span>

        <b class="arrow material-icons">keyboard_arrow_down</b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
        <li class="">
            <a id="geninf" href="#GeneralInformation">
                <i class="menu-icon material-icons">play_arrow</i>
                <span lang="en">General data</span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a id="electricity" href="#GetData/electricity_final_demand">
                <i class="menu-icon material-icons">play_arrow</i>
                <span lang="en">Electricity</span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a id="calendar" href="#Calendar">
                <i class="menu-icon material-icons">play_arrow</i>
                <span lang="en">Calendar</span>
            </a>
            <b class="arrow"></b>
        </li>
    </ul>
</li>

    <li class="open">
        <a class="dropdown-toggle pointer">
            <i class="material-icons menu-icon">compare_arrows</i>
            <span class="menu-text"> Coefficients </span>

            <b class="arrow material-icons">keyboard_arrow_down</b>
        </a>
        <b class="arrow"></b>

        <ul class="submenu" id="coefficients">
        </ul>
    </li>

    <li class="">
        <a id="calculation" href="#/Calculation">
            <i class="material-icons menu-icon">settings_applications</i>
            <span lang="en" class="menu-text"> Calculate</span>
      </a>
        <b class="arrow"></b>
    </li>

    <li class="">
        <a id="result" href="#/Results/result_summary">
            <i class="material-icons menu-icon">equalizer</i>
            <span lang="en" class="menu-text"> Results</span>
      </a>
        <b class="arrow"></b>
    </li>