    <li class="">
        <a id="geninf" href="#/GeneralInformation">
            <i class="material-icons menu-icon">description</i>
            <span lang="en" class="menu-text"> General information</span>
      </a>
        <b class="arrow"></b>
    </li>

    <li class="">
        <a id="economic" href="#/GetData/economic_demography">
            <i class="material-icons menu-icon">hourglass_empty</i>
            <span lang="en" class="menu-text"> Social economic data</span>
      </a>
        <b class="arrow"></b>
    </li>

    <li class="open">
        <a class="dropdown-toggle pointer">
            <i class="material-icons menu-icon">compare_arrows</i>
            <span class="menu-text" id="energy" lang="en"> Energy intensities</span>

            <b class="arrow material-icons">keyboard_arrow_down</b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a id="industry" href="#GetData/industry_intensity_motivepower">
                    <i class="menu-icon material-icons">play_arrow</i>
                    <span lang="en">Industry</span>
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a id="transport" href="#GetData/transport_freight_generation">
                    <i class="menu-icon material-icons">play_arrow</i>
                    <span lang="en">Transport</span>
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a id="household" href="#GetData/household_factors_urban">
                    <i class="menu-icon material-icons">play_arrow</i>
                    <span lang="en">Household</span>
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a id="service" href="#GetData/service_factors">
                    <i class="menu-icon material-icons">play_arrow</i>
                    <span lang="en">Services</span>
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="">
        <a id="calculation" href="#/Calculation">
            <i class="material-icons menu-icon">settings_applications</i>
            <span lang="en" class="menu-text"> Calculate</span>
      </a>
        <b class="arrow"></b>
    </li>

    <li class="">
        <a id="results" href="#/Results">
            <i class="material-icons menu-icon">equalizer</i>
            <span lang="en" class="menu-text"> Results</span>
      </a>
        <b class="arrow"></b>
    </li>