<div class="sidebar-shortcuts" id="sidebar-shortcuts">

    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <button id="en" style="width:30%" class="btn-primary btn-lang btn-sm" onclick="changeLang('en'); return false;">
            En
        </button>
        <button id="es" style="width:30%" class="btn-primary btn-lang btn-sm" onclick="changeLang('es'); return false;">
            Es
        </button>
        <button id="fr" style="width:30%" class="btn-primary btn-lang btn-sm" onclick="changeLang('fr'); return false;">
            Fr
        </button>
        <!-- <button id="rs" class="btn btn-lang btn-sm" onclick="changeLang('rs'); return false;">
            Rs
        </button> -->
    </div>
    
    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <span class="btn btn-nest"></span>
        <span class="btn btn-nest"></span>
        <span class="btn btn-nest"></span>
        <span class="btn btn-nest"></span>
    
    </div>
    </div>

<br/>
<ul class="nav nav-list">
    <li class="shadow">
        <a id="study" href="#/ManageStudy">
            <i class="material-icons menu-icon">home</i>
            <span lang="en" class="menu-text"> Manage case studies</span>
      </a>
        <b class="arrow"></b>
    </li>
    <p id="maedmenu" style="margin-top:20px" class="nav shadow"></p>
</ul>

<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <span id="sidebar-toggle-icon" class="ace-icon material-icons pointer" style="color:#2196f3;">settings_ethernet</span>
</div>

<script>
    var maedtype=Cookies("maedtype");
    var id=Cookies("id");
    if(id!=="study" && id!=="home" && id!=="about" && id!=="accounts"){
        $("#maedmenu").load("layout/"+maedtype+"_menu.html", function() {
            getPageTitle();
            if(maedtype=="maedel")
                getClients();
        }).addClass("nav-list");
    }
</script>